<?xml version='1.0'?>

<robot name="2e5nsrxv">
    <static>false</static>
    <link name="link">
        <inertial>
            <mass value="0.14912044252882628"/>
            <inertia ixx="0.00017505701244201083" ixy="1.6444875827598726e-05" ixz="5.9731681812872e-06"
                     iyy="0.00014189345776349297" iyz="-3.472189354663872e-05" izz="0.00020987980295322878"/>
        </inertial>
        <collision name="collision">
            <geometry>
                <mesh filename="package://miscnet/train/2e5nsrxv/collision_model_vhacd.obj"/>
            </geometry>
        </collision>
        <visual name="visual">
            <geometry>
                <mesh filename="package://miscnet/train/2e5nsrxv/visual_model.obj"/>
            </geometry>
        </visual>
    </link>
</robot>
